*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body{
    -webkit-tap-highlight-color: transparent;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    z-index: 900;
    height: 100px;
    width: 100%;   
    background-color: transparent;
    position: absolute;

}
.header.fixed{
    transition: .3s;
    background-color: #12203A;
    position: fixed;
}
.logo {
    position: relative;
    top: 20px;
    left: 50px;
    float: left;
}
.nav{
    
    width: 100%;
    height: 100px;
    
}
.nav ul li{
    float: right;
    padding: 35px 45px 30px 0px;
    font-size: 22px;
    text-align: center;
}
.nav a{
    color: white;
}
li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    
}
.slider-main{
    
    width: 400%;
    display: flex;
}
.slider .slider1 {
    
    background-image: url(./img/home-banner-1.jpg);   
    background-position: top center ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;  
    flex: 1;
}
.slider1-1{
    background-image: url(./img/home-banner-2.jpg);
    background-position: top center ;
    background-repeat: no-repeat;
    background-size: cover  ;
    width: 100%;
    height: 100vh;
    flex: 1;
    text-align: center;
}
.slider .slider1-2{
    flex: 1;
    background-image: url(./img/home-banner-4.jpg);
    background-position: top center ;
    background-repeat: no-repeat;
    background-size: cover  ;
    width: 100%;
    height: 100vh;
}
.slider .slider1-3{
    flex: 1;
    background-image: url(./img/home-banner-3.jpg);
    background-position: top center ;
    background-repeat: no-repeat;
    background-size: cover  ;
    width: 100%;
    height: 100vh;
}
.contain-container {
    position: absolute;
    bottom: 70px;
    padding: 0 200px;
    color: white;
    text-align: center;
}

span{
    color: white;
}
.contain-container-1{
    position: relative;
    top: 370px;
    padding: 0 200px;
    text-align: center;
}
.contain-container-2{
    position: relative;
    top: 370px;
    padding: 0 200px;
    text-align: center;
}
.contain-container-3{
    position: relative;
    top: 370px;
    padding: 0 200px;
    text-align: center;
}

.tittle{
    font-size: 60px;
}
.decription{
    font-size: 30px;
}
.main-tittle{
    padding: 25px;
}
.back{
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    top: 50px;
    left: 450px;
    padding: 0 15px;
    
}

h1{
    font-size: 30px;
}
.tittle2 a {
    font-size: 40px;
    text-decoration: none;
    color: #262626;
}
.contain2{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 50px;
}
.contain2 .control img{
    width: 40px;
    height: 40px;
    text-align: center;
    
}
button {
    background-color: transparent;
    border: transparent;
}
.contain-container2{
    text-align: center;
    padding: 60px;
}
.tittle2 a:hover{
    color: rgb(25, 25, 158);
}
.decription2{
    font-size: 28px;
    padding: 40px 100px;
    color: #757575;
}
.service{
    display: flex;
    /* justify-content: space-between; */
    padding: 60px 80px 0 90px;

}
.development{
    flex: 1;

}
.suppost{
    flex: 1;
}
.testing{
    flex: 1;
}

.service p{
    text-align-last: center;
    text-align: justify;

}
.service a{
    text-decoration: none;
    color: #262626;
    
}

.service  a:hover{
    color: rgb(0, 81, 255);
    
}
.service p{
    font-size: 22px;
    color:#757575;
    padding: 20px;
}
.service img{
    padding: 0 0 40px 0 ;
}
.slider2{
    background-image: url(./img/paralax-domains.jpg);   
    overflow: hidden;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    
}
.slider2  a{
    
    text-decoration: none;
    position: relative;
    top: 70px;
    color: white;
    font-size: 42px;
}
.tittle3 .sub-tittle{
    text-align: center;
    text-transform: uppercase;
}
.slider2 a:hover{
    color: rgb(0, 81, 255);
}
.control img{
    
    width: 60px;
    height: 60px;
    padding: 0 50px;
    
}
.control .iconlelft1{
    float: left;
    position: relative;
    top: 230px;
}
.control .iconright1{
    float: right;
    position: relative;
    top:230px
}
.tittle3{
    width: 930px;
    height: 151.9px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);   
}

.sub-decription{
    
    padding: 0 0 60px 0;
}
.sub-tittle {
    text-align: center;
    text-transform: uppercase;
}

.container{
    text-align: left;
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
    font-size: 22px;
    font-weight: 300;
    line-height: 31px;
    padding: 50px 0 70px;
    /* text-align: center; */
}
.service1{
    padding: 0px 15px;
    background-position: 0px 0px;
    margin: 0px 140px;
    width: 1240px;
    height: 720px;
    opacity: 1;
    display: block;
    position: relative;
}

.khungchua{
    display: flex;
    height: 506px;
    /* text-align: center; */
    column-gap: 100px;
}
.icon-app{
    flex: 1;
    
}
.main-khungchua{
    position: relative;
    width: 100%;
}
.passage4 p{
    position: relative;
    top: 100px;
    color: white;
    text-align-last: center;
    text-align: justify;
    
}
.icon-mobie {
    position: relative;
    top:-30px;
    text-align: center;
}
.icon-mobie img{
    position: relative;
    top: -20px;
}
.body-innovations{
    width: 100%;
    height: 100vh;
    font-size: 22px;
    color: #262626;
    padding: 50px 0 0px;
}
.body-innovations .container{
    padding: 0 15px -80px;
    
}
.body-innovations .title-ventures{
    text-align: center;
}
.container .title-ventures h1 a{
    text-decoration: none;
    color: #262626;
    font-size: 42.6px;
}
.container .title-ventures a:hover{
    color: rgb(0, 81, 255);
}
.decr-hidden{
    padding: 0 0 100px;
    width: 100%;
    height: 60%;
}
.center-box{
    margin: 0px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}
.center-box .content{
    text-align: left;
    padding: 0 45px;
    color: #262626;
}
.body-model{
    width: 100%;
    height: 100vh;
    font-size: 22px;
    text-align: center;
    padding-bottom: 500px;
}
.body-model .container .title-venture{
    color: #757575;
    padding: 0 120px 0 120px;
    text-align: center;
}
.title-venture h1 a {
    text-decoration: none;
    color: #262626;
    display: inline;
    text-transform: uppercase;
    font-size: 42.6px;
    
}
.title-venture a:hover{
    color: rgb(0, 81, 255);
}
.color-desc{
    font-size: 30px;
    padding: 0 0 120px 0;
    position: relative;
    top: 50px;
}
.model-item{
    display: flex;
    padding: 0 120px;
}
.box-colum{
    flex: 1;
    text-align: center;
    padding: 0 50px;
}
.link-index{
    text-align: center;
    display: inline;
    
}
.link-index a{
    text-decoration: none;
    color: #262626;
    
}

.link-index h1 a:hover{
    color: #0056b3;
}
.box-cell-item .link-index .img{
    margin-bottom: 40px;
    height: 62px;
}
.box-cell-item ul li{
    list-style: none;
    position: relative;
    top: 100px;
    margin-bottom: 24px;
    color: #262626;
}
.box-cell-item ul li:nth-child(odd){
    font-weight: bold;
}
.model-bullet{
    border-top: 5px solid #186ab4;
    margin-top: 60px;    
}
.body-client{
    background-image: url(./img/our-clients.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%; height: 534px;
    
    /* padding: 70px 0 150px; */
}
.owl .owl-pre img{
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 30px;
    position: relative;
    top: 255px;
}
.owl .owl-next  img{
    width: 70px;
    height: 70px;
    float: right;
    position: relative;
    top: 255px;
}
.container-client{
    padding-top: 70px;
}
.container-client .title h1 {
    text-align: center;
    font-size: 42.6px;

}
.container-client .title a{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    margin: 0px 140px;
    
}
.container-client .title a:hover{
    color: rgb(24, 106, 180);
}
.title .descr{
    padding-bottom: 100px;
}








